<link rel="stylesheet" href="style.css">

<div class="container">
    <form class="logForm" action="/verify" method="post">
        <div class="mb-3">
            <h2 class="text-center mb-4 text-white ">user Login</h2>
            <h4 class="text-danger text-center">{{msg}} </h4>
            <label for="exampleInputEmail1" class="form-label text-white">Username</label>

            <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                style=" background-color: #939393;">
            {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label text-white">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                style=" background-color: #939393">
        </div>
        {{!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> --}}

        <button type="submit" class="btn btn-danger">Login</button><br>
        <div class="text-center">
            <a href="/singup" class="fw-bold">Sign Up</a>
        </div>

    </form>

</div>
<script>

</script>